.vscode
.DS_Store
a.out
*.o
*.so
core
vgcore.*
*.out
1-x86_64/hello
1-x86_64/hello-asm
1-x86_64/hello-shellcode
2-elf/backtrace
2-elf/functions
2-elf/hello
2-elf/mangling
2-elf/stackframes
3-debug-profile/axpy
3-debug-profile/boverflow
3-debug-profile/leak
3-debug-profile/overflow
3-debug-profile/signal
3-debug-profile/daxpy
3-debug-profile/dgemm
4-hack/secret
4-hack/**/callfunc